<main class="nav">
   <div class="section">
       <section>section</section>
       <section>section</section>
       <section>section</section>
       <section>section</section>
       <section>section</section>
       <section>section</section>
   </div>

   <button id="buttonScroll">
      <img src="/svg/scroll.svg">
   </button>
</main>