<main class="nav">
    <div class="field">
        <button class="nav-button" id="back">
            <img src="/svg/back.svg" class="nav-img">
        </button>
        <button class="nav-button" id="forward">
            <img src="/svg/forward.svg" class="nav-img">
        </button>
        <button class="nav-button" id="reload">
            <img src="/svg/update.svg" class="nav-img">
        </button>
        <button class="nav-button" id="home">
            <img src="/svg/home.svg" class="nav-img">
        </button>
        <input type="text" class="nav-input" id="input">
        <button class="nav-button" id="go">
            <img src="/svg/enter.svg" class="nav-img">
        </button>
    </div>
</main>